.chracter-list-wrapper {
  width: 75vw;
  margin: 70px auto;
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 5px;
}

.main-fieldset {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin: 20px;
}

.main-fieldset legend {
  font-size: 20px;
}

.chracter-card-list,
.chracter-filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: row wrap;
  padding: 35px;
  margin-top: 15px;
}

.chracter-filter button {
  width: 200px;
  height: 25px;
  margin: 15px;
  border-radius: 8px;
  background-color: #bd7a73;
  color: white;
  font-family: inherit;
}
